In [3]:
import pandas as pd
import numpy as np
import re
from nltk.tokenize import TweetTokenizer
import contractions
from nltk.corpus import stopwords

In [9]:
DATASET_COLUMNS = ['target','ids','date','flag','user','text']
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv('tweets.csv', encoding=DATASET_ENCODING, names=DATASET_COLUMNS)
print(df.columns)

Index(['target', 'ids', 'date', 'flag', 'user', 'text'], dtype='object')

In [11]:
# Display the first few rows of the dataframe
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [12]:
df.describe()

             target           ids
count  1.600000e+06  1.600000e+06
mean   2.000000e+00  1.998818e+09
std    2.000001e+00  1.935761e+08
min    0.000000e+00  1.467810e+09
25%    0.000000e+00  1.956916e+09
50%    2.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

In [13]:
df.isnull().sum()

target    0
ids       0
date      0
flag      0
user      0
text      0
dtype: int64

In [15]:
import re
import contractions
from nltk.tokenize import TweetTokenizer

# Expand contractions and remove unwanted characters
def preprocess_text(text):
    # Expand contractions (e.g., "can't" to "cannot")
    text = contractions.fix(text)
    
    # Remove URLs
    text = re.sub(r'http[s]?://[^\s]+', '', text)
    text = re.sub(r'www\.[a-zA-Z0-9-]+\.[^\s]+', '', text)
    
    # Remove mentions and hashtags
    text = re.sub(r'@[A-Za-z0-9_]+', '', text)
    text = re.sub(r'#[A-Za-z0-9_]+', '', text)
    
    # Remove all non-alphanumeric characters (excluding whitespace)
    text = re.sub(r'[^\w\s]', '', text)
    
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    
    return text

# Apply preprocessing to each tweet
df['cleaned_text'] = df['text'].apply(preprocess_text)

In [16]:
tokenizer = TweetTokenizer(strip_handles=True, reduce_len=True)

def tokenize_text(text):
    tokens = tokenizer.tokenize(text)
    return tokens

# Tokenize the cleaned tweets
df['tokens'] = df['cleaned_text'].apply(tokenize_text)

# Display the first few rows to verify tokenization
print(df[['cleaned_text', 'tokens']].head())

                                        cleaned_text  \
0     Awww that is a bummer  You shoulda got Davi...
1  is upset that he cannot update his Facebook by...
2   I dived many times for the ball Managed to sa...
3    my whole body feels itchy and like its on fire
4   no it is not behaving at all i am mad why am ...

                                              tokens
0  [Awww, that, is, a, bummer, You, shoulda, got,...
1  [is, upset, that, he, cannot, update, his, Fac...
2  [I, dived, many, times, for, the, ball, Manage...
3  [my, whole, body, feels, itchy, and, like, its...
4  [no, it, is, not, behaving, at, all, i, am, ma...

In [ ]:
# Save the dataframe to a new CSV file
df[['target', 'tokens']].to_csv('preprocessed_tweets.csv', index=False)